npm-debug.log
Dockerfile
dist
.dockerignore
*/.git
.git
.gitignore
*/.vs
.vs
*/.vscode
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
bin
*/obj
obj
*/node_modules
node_modules
deploy.sh
downloads